*{
    box-sizing: border-box;
    margin: 0;
  }
.conteudo-main {
    display: grid;
    grid-template-areas:
        "imagem    imagem"
        "nome       nome"
        "descricao  compra"
        "modelos    compra"
        "modelos  detalhes";
    grid-template-columns: 1.5fr 0.5fr;
    column-gap: 3vw;
    padding-bottom: 10%;
}

.imaproduto                              { grid-area: imagem; }
.conteudo-main > h1.nomeproduto          { grid-area: nome; }
.descricaoproduto                        { grid-area: descricao;}
.detalhesproduto                         { grid-area: detalhes;}
.compra                                  { grid-area: compra; ;}
.modelos                                 { grid-area: modelos; }

.botaocompra a{
    display: block;
    width:100%;
    height: fit-content;
 padding: clamp(10px, 3vh, 30px);
     background-color: #ff3d98a1;
    border-style: none;
    border-radius: 6%;
    text-decoration: none;
     color:black;
     font-size: clamp(13px, 1.6vw, 25px);
     margin:13px auto;
}


.imaproduto{
padding-bottom: 4vh;
padding-top: 4vh;
text-align: center;

}
img.imagem{
    height: 100%;
    width: 80%;
    min-height: 170px;
    min-width:410px;
}
.descricaoproduto{
    padding-bottom: 4vh;
padding-top: 4vh;
}
h1{
 font-family: Arial, Helvetica, sans-serif;
font-size: clamp(18px, 2vw, 28px);
}
h1.nomeproduto{
display: flex;
padding: 4vh;
font-size: clamp(20px, 3vw, 30px);
    text-align: justify;
     color: rgb(0, 61, 117);
}
 .modelos h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
 padding: 2vh;
 margin: 2% auto;
  padding-bottom: 0.5vh;
 }

h2, ul li{
font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: clamp(15px, 1.5vw, 20px);
 padding: 2vh;
  padding-bottom: 0.5vh;

}
.compra{
    height: fit-content;
    width: 100%;
    display:flex;
    border: 1px solid rgb(0, 61, 117);
    border-radius: 20px;
    justify-content: center;
    padding: 2vw;
        color: rgb(0, 61, 117);
            flex-direction: column;
            align-items:center;

}
.compra h2{
    padding: 1vh;

}
.endereco, .botaocompra{
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 3%;
}
.caixaseuendereco, .caixaquantidade{
    display: block;
    border: 1px solid rgb(0, 61, 117);
    border-radius: 5%;
    text-align: center;
    margin: 1.5vh;
}
.caixaquantidade{
    max-width: 6vw;
    max-height: 7vh;
    font-size: 25px;
    padding: 0.5vw;
    margin: 5px auto;
    overflow-y: hidden;
}
.caixaseuendereco{
    margin: 0 auto;
        max-width: 12vw;
    max-height: 6vh;
    overflow-y: hidden ;
    padding: 5px;

}
p{
    text-decoration: line-through;
font-size: clamp(14px, 2vw, 18px);
}

.divisoria{
    width: 100%;
text-align: center;
margin-bottom: auto;
color:rgb(0, 61, 117);
}
.morango{
    color: #d62274;
}
.pesego{
    color:#ff6a70 ;
}

.blueberry{
    color:#6ba3d1 ;
}

.limao{
    color: #80b450;
}
.caramelo{
    color: #f8a868;
}
.macaamor{
    color: #7db988;
}
.balalimao{
    color: #a9b019;
}
.rodape-texto, .rodape-creditos{
    text-decoration: none !important;
}

@media screen and (max-width: 900px){
.conteudo-main {
    display: grid;
    grid-template-areas:
        "imagem"
        "nome"
        "descricao "
        "compra"
        "modelos"
        "detalhes";
    grid-template-columns: 1fr;
    gap: 3vw;
}

.caixaseuendereco{
            max-width: 200px;
    max-height: 6vh;
}

.botaocompra{
    line-height: 200%;
}


}