/* Arquivo de estilização da página inicial do site. */
.img-propaganda {   
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 0 auto 40px auto;  
}

.produtos-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.produto-container {
    width: 190px;
    height: 190px;
    background-color: #ccc;
    box-shadow: 0px 2px 2px rgb(136, 133, 133);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.produto-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;          /* preenche o quadrado sem distorcer */
} 

.ver-mais-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.ver-mais-link a{
    text-decoration: none;
    color: black ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.titulo-produtos {
    text-align: left;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #A47800;
}