/* folha de estilo específica para a pagina de todos os produtos (produtos.html) */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .conteudo-main {
    width: 100%;
}
/* cabeçalho da página de produtos */
.titulo{
        width: 100%;
        height: fit-content ;
        padding: 4%;
    background-color: beige;
}

/* Cards dos produtos que se ajustam na tela*/
.produtos{
    display: flex;
width: 100%;
height: auto;
flex-wrap: wrap;    
gap: 10vw;
justify-content: center;
padding-top: 5%;
}
img.imagens{
    display: block;
    width: 70%;
    height: auto;
    min-width: 40px;
    max-width: 30vw;
    margin: 0 auto;
}
/* cards*/
.item1, .item2, .item3, .item4{
display: flex;
padding: 3vw;
flex-direction: column;
min-width: 40px;
max-width: 400px;
border: 1px solid black;
text-align: center;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: clamp(15px, 1.8vw, 25px);

}
h2{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: clamp(12px, 1.5vw, 20px);
padding-top: 3vh;
}

